@mixin valign() {
  white-space: nowrap;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
  }
}

@mixin valign-block() {
  display: inline-block;
  white-space: normal;
}

.valign {
  @include valign();
}

.valign__block {
  @include valign-block();

  vertical-align: middle;
}

.valign__block--top {
  vertical-align: top;
}

.valign__block--bottom {
  vertical-align: bottom;
}
